<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>diary tweet</title>
  <link rel="stylesheet" href="css/top.css">
</head>
<body>
  <div class="top">
    <h1 class="head"><a href="@{/}" >diary tweet</a></h1>
    <div class="login">
      <a href="/log">ログイン</a>
    </div>
  </div>
  <div class="main">
    <h1>あなたも一度日記を付けてみませんか？</h1>
    <h2>例</h2>
      <p>今日は家族で旅行に出掛けました。<br>紅葉を見に、車を１時間ほど走らせ山の麓に到着しました。車から降り、あたりを見回すと、紅色の木々たちが視界いっぱいに入り秋の訪れを感じさせます。来年も家族で来たいと思います。</p>
      <p>2020/10/15</p>

      <p>このサービスでは例のように自分の日記を記入し保存することができます</p>

        
  </div>
  <div class="footer">
    <a href="/log">ログイン</a>
  </div>
  
</body>
</html>