<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>diary tweet</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
  <div class="top">
    <h1><a href="/">diary tweet</a></h1>
  </div>
  <div class="main">
      <h1> ログイン</h1>
    <form th:action="@{/log}" method="post" th:object="${formModel}"> 
      <input type="text" value="username" name="username"><br>
      <input type="password" value="password" name="passwords"><br>
      <input type="submit" value="ログイン">
    </form>

  </div>
  
</body>
</html>