<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>diary tweet</title>
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
  <div class="top">
    <h1><a href="/">diary tweet</a></h1>
  </div>
  <form method="post" th:href="@{/mypage/{id}id=${UserData.id}}"  th:object="${form}">
    <textarea name="text" id="" cols="30" rows="10" ></textarea>
    <input type="submit" value="記録">
    <input type="date"  name="data"> 
  </form>
<table>
  <tr><th>id</th><th>内容</th><th>日付</th></tr>
  <tr th:each="d:${diarylist}">
  <td th:text="${d.id}"></td>
  <td th:text="${d.diary}"></td>
  <td th:text="${d.data}"></td> 
</tr>
</table>  
</body>


</html>